<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Problema 01</title>
</head>

<body>
    <h1>Curso JavaScript Completo</h1>

    <p>
        Mostrar se um aluno foi aprovado ou não utilizando uma função calcularMedia(). Contudo, se houver pelo menos uma nota zero, reprovar o aluno automaticamente.
    </p>

    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Nota01</th>
                <th>Nota02</th>
                <th>Nota03</th>
                <th>Nota04</th>
                <th>Nota05</th>
                <th>Média</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            <tr class="alunos">
                <td class="nome">Wellington Felix</td>
                <td class="notas nota01">10</td>
                <td class="notas nota02">8</td>
                <td class="notas nota03">5</td>
                <td class="notas nota04">7</td>
                <td class="notas nota05">10</td>
                <td class="media"></td>
                <td class="situacao"></td>
            </tr>
            <tr class="alunos">
                <td class="nome">Palloma Felix</td>
                <td class="notas nota01">6.5</td>
                <td class="notas nota02">10</td>
                <td class="notas nota03">5</td>
                <td class="notas nota04">3</td>
                <td class="notas nota05">2.1</td>
                <td class="media"></td>
                <td class="situacao"></td>
            </tr>
            <tr class="alunos">
                <td class="nome">Maria Felix</td>
                <td class="notas nota01">10</td>
                <td class="notas nota02">10</td>
                <td class="notas nota03">5.5</td>
                <td class="notas nota04">7.5</td>
                <td class="notas nota05">10</td>
                <td class="media"></td>
                <td class="situacao"></td>
            </tr>
        </tbody>
    </table>

    <script type="text/javascript" src="../models/model.js"></script>
    <script type="text/javascript" src="../controllers/controller.js"></script>
    <script type="text/javascript" src="../main.js"></script>
</body>

</html>