:root {
    --primary-color: rgb(11, 199, 241);
    --secondary-color: rgb(252, 248, 248);
    --third-color: rgb(12, 167, 202);
    --fourth-color: rgb(247, 129, 129);
    --fifth-color: rgb(129, 247, 129);
}