<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Lista De Taredas Online</title>

    <link type="text/css" rel="stylesheet" href="../assets/css/fonts.css">
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <div class="container">
        <h2>Lista de Tarefas Online</h2>

        <form>
            <label for="input-nome"></label>
            <input type="text" id="input-nome" placeholder="Nome da Tarefa" maxlength="30">

            <label for="input-descricao"></label>
            <input type="text" id="input-descricao" placeholder="Descricão da Tarefa" maxlength="50">

            <button type="button" id="button-adicionar">Adicionar</button>
        </form>

        <div class="container-tarefas">
            <h3>Tarefas</h3>
            <ul>
                <li><span class="nome-tarefa">Tarefa 01</span> | Descrição da Tarefa 01</li>
                <li><span class="nome-tarefa">Tarefa 02</span> | Descrição da Tarefa 02</li>
                <li><span class="nome-tarefa">Tarefa 03</span> | Descrição da Tarefa 03</li>
            </ul>
        </div>
    </div>

    <script type="text/javascript" src="../assets/js/tarefa.utils.js"></script>
    <script type="text/javascript" src="../models/tarefa.model.js"></script>
    <script type="text/javascript" src="../controllers/adiciona-tarefa.controller.js"></script>
    <script type="text/javascript" src="../controllers/remove-tarefa.controller.js"></script>
</body>

</html>
