<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Lista De Taredas Online</title>
</head>

<body>
    <h2>Lista de Tarefas Online</h2>
    <div>
        <label for="input-nome">Nome</label>
        <input type="text" id="input-nome" placeholder="Nome da Tarefa" maxlength="30">

        <label for="input-descricao">Descrição</label>
        <input type="text" id="input-descricao" placeholder="Descricão da Tarefa" maxlength="50">

        <button type="button" id="button-adicionar">Adicionar</button>
    </div>

    <div>
        <h3>Tarefas</h3>
        <ul>
            <li>
                <input type="checkbox" id="checkbox-tarefa-01"> Tarefa 01 | Descrição da Tarefa 01 <button type="button" id="button-favorita">Favorita</button>
            </li>
            <li>
                <input type="checkbox" id="checkbox-tarefa-02"> Tarefa 02 | Descrição da Tarefa 02 <button type="button" id="button-favorita">Favorita</button>
            </li>
            <li>
                <input type="checkbox" id="checkbox-tarefa-03"> Tarefa 03 | Descrição da Tarefa 03 <button type="button" id="button-favorita">Favorita</button>
            </li>
        </ul>
    </div>

    <script type="text/javascript" src="../controllers/adiciona-tarefa-controller.js"></script>
    <script type="text/javascript" src="../models/tarefa.js"></script>
</body>

</html>