body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

h1 {
  text-decoration: underline;
}

input {
  font-size: 25px;
  padding-right: 10px;
  text-align: right;
  width: 320px;
  height: 50px;
}

button {
  width: 80px;
  height: 50px;
}